body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff0fb;
  }
  
  .bg-gradient {
    background: linear-gradient(to right, #67086F, #C50FD5);
  }
  
  .carousel-inner {
    height: 500px;
  }
  
  .carousel-inner img {
    height: 100%;
    object-fit: cover;
  }
  
  h1 {
    font-weight: bold;
  }
  
  .plano {
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    background: #fff;
  }
  
  .plano h3 {
    color: #ff0000;
    margin-bottom: 10px;
  }
  
  .plano ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .plano ul li {
    margin-bottom: 8px;
  }
  
  .btn-plano {
    background: linear-gradient(to right, #67086F, #ca5fb3, #C50FD5);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  