body {

    margin: 0;

    font-family: 'Segoe UI', sans-serif;

    background: linear-gradient(to right, #67086F, #ca5fb3, #C50FD5);

}

.form-container {

    background: rgba(255, 255, 255, 0.95);

    padding: 40px 30px;

    border-radius: 16px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    width: 100%;

    max-width: 500px;

    margin: 40px auto;

    font-family: 'Segoe UI', sans-serif; /* redundante, mas garante */

}

.form-container h2 {

    text-align: center;

    color: #2752c9;

    margin-bottom: 30px;

}

label {

    display: block;

    margin-bottom: 8px;

    font-weight: 600;

    font-size: 15px;

}

input[type="text"],

input[type="email"],

textarea {

    width: 100%;

    padding: 12px;

    border: 1px solid #ccc;

    border-radius: 8px;

    margin-bottom: 20px;

    background-color: #fff;

    color: #333;

    font-size: 15px;

    font-family: 'Segoe UI', sans-serif;

}

textarea {

    resize: vertical;

    min-height: 100px;

}

button {

    background: #4F61BD;

    color: white;

    border: none;

    padding: 12px;

    font-size: 16px;

    border-radius: 30px;

    cursor: pointer;

    width: 100%;

    font-weight: bold;

    transition: 0.3s;

    font-family: 'Segoe UI', sans-serif;

}

button:hover {

    opacity: 0.9;

}

@media (max-width: 600px) {

    .form-container {

        padding: 30px 20px;

    }

}

.voltar{

    position: fixed;

    top:10px;

    left:20px;

    background-color: #d62828;

    color: white;

    padding: 12px 20px;

    border-radius: 30px;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

    transition: background-color 0.3s;

    z-index: 1000;

    text-decoration: none;

  }
 