.footer-estetique {
    background: linear-gradient(to right, #67086F, #C50FD5);
    color: white;
    padding: 20px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.footer-estetique p {
    margin: 0 0 10px 0;
    font-size: 14px;
    
}


.footer-links a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: 500;
    
}

.footer-links a:hover {
    text-decoration: underline;
    
}